dlldata.c
regexPrefilter.h
regexUnpacker.h
*_i.c
*_p.c
*.aps
*.cache
*.dll
*.exe
*.exp
*.idb
*.ilk
*.lastbuildstate
*.lib
*.log
*.manifest
*.obj
*.oca
*.ocx
*.opensdf
*.pdb
*.rc
*.res
*.sdf
*.suo
*.tlb
*.tlog
*.unsuccessfulbuild
*.user
